body {
  height: 100vh;
}
.screen {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.seats {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  max-width: 500px;
}
.seat {
  width: 30px;
  height: 20px;
  /* flex: 0 0 8%; */
  margin: 4px 6px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
}
.seat.occupied {
  background-color: #d2d2d2 !important;
}
.seat.selected {
  background-color: blue !important;
}
.seat:not(.occupied):hover {
  background-color: lightblue;
  cursor: pointer;
  transform: scale(1.2);
}
.seat:not(.occupied):focus {
  opacity: 0.7;
  background-color: lightblue;
}
.seat:nth-of-type(8n + 3) {
  margin-left: 30px;
}

.seat:nth-of-type(8n + 7) {
  margin-left: 30px;
}

.total {
  display: flex;
  margin-top: 40px;
}

.total span {
  margin-right: 30px;
}
